# Default values for chatipt.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.


nameOverride: ""
fullnameOverride: ""


podSecurityContext: {}

backEnd:
  replicaCount: 1
  image:
    repository: gbifnorway/chatipt-back-end
    tag: 2.0.0-35eea8c-20251024-090950
    pullPolicy: Always
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  autoscaling:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeMounts: []
  volumes: []
  persistence:
    enabled: true
    size: 10Gi
    accessMode: ReadWriteOnce
    storageClassName: do-block-storage-retain
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /ready
      port: http
  secretRef:
    name: chatipt-backend

  service:
    type: ClusterIP
    port: 80
    targetPort: 8000

  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "200m"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600" 
    hosts:
      - host: api.chatipt.svc.gbif.no
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
     - secretName: chatipt-back-end-tls
       hosts:
         - api.chatipt.svc.gbif.no
    securityContext: {}


frontEnd:
  replicaCount: 1
  image:
    repository: gbifnorway/chatipt-front-end
    tag: 2.0.0-35eea8c-20251024-090950
    pullPolicy: Always
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  autoscaling:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeMounts: []
  volumes: []
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /ready
      port: http

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
    hosts:
      - host: chatipt.svc.gbif.no
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
     - secretName: chatipt-front-end-tls
       hosts:
         - chatipt.svc.gbif.no
    securityContext: {}
