# Default values for chatipt (staging).
# This is a YAML-formatted file.

nameOverride: ""
fullnameOverride: ""

podSecurityContext: {}

backEnd:
  replicaCount: 1
  image:
    repository: gbifnorway/chatipt-back-end
    tag: staging-b813d36-20251121-135049
    pullPolicy: Always
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  autoscaling:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeMounts: []
  volumes: []
  persistence:
    enabled: false
    size: 10Gi
    accessMode: ReadWriteOnce
    storageClassName: ""
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /ready
      port: http
  secretRef:
    name: chatipt-backend

  service:
    type: ClusterIP
    port: 80
    targetPort: 8000

  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "200m"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    hosts:
      - host: staging-api.chatipt.svc.gbif.no
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
     - secretName: chatipt-back-end-tls-staging
       hosts:
         - staging-api.chatipt.svc.gbif.no
    securityContext: {}

frontEnd:
  replicaCount: 1
  image:
    repository: gbifnorway/chatipt-front-end
    tag: staging-b813d36-20251121-135049
    pullPolicy: Always
  imagePullSecrets: []
  podAnnotations: {}
  podLabels: {}
  podSecurityContext: {}
  securityContext: {}
  resources: {}
  autoscaling:
    enabled: false
  nodeSelector: {}
  tolerations: []
  affinity: {}
  volumeMounts: []
  volumes: []
  livenessProbe:
    httpGet:
      path: /healthz
      port: http
  readinessProbe:
    httpGet:
      path: /ready
      port: http

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  ingress:
    enabled: true
    className: ""
    annotations:
      kubernetes.io/ingress.class: nginx
      kubernetes.io/tls-acme: "true"
    hosts:
      - host: staging.chatipt.svc.gbif.no
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
     - secretName: chatipt-front-end-tls-staging
       hosts:
         - staging.chatipt.svc.gbif.no
    securityContext: {} 
